// Place all the styles related to the Peliculas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-box {
  width: 50%;
  margin: auto;
  border: 1px solid lightgray;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 4px 4px 8px lightgray;
}